<div uk-grid>
  <div class="uk-width-1-1">
    <h2>{{ 'Send Raicoin' | translate }}</h2>

    <div uk-grid>
      <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
        {{ 'Your account' | translate }}: <a [routerLink]="'/account/'+selectedAccountAddress()" class="uk-text-bold uk-link-text">{{ selectedAccountAddress() }}</a>
      </div>
      <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
        <ul class="uk-hidden-hover uk-iconnav">
          <li><a uk-icon="icon: pencil;" title="{{ 'Change Account' | translate }}" uk-tooltip routerLink="/accounts"></a></li>
        </ul>
      </div>
    </div>

    <div uk-grid class="uk-margin-remove-top">
      <div class="uk-width-expand uk-width-auto@m">
        {{ 'Balance' | translate }}: {{ balance() | balance }}
      </div>
    </div>

    <!-- Send Panel -->
    <div uk-grid *ngIf="activePanel === 'send'" class="uk-animation-slide-left-small">
      <div class="uk-width-1-1">

        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <div class="uk-form-horizontal">

              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text1">{{ 'Destination Account' | translate }} *</label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <input (blur)="validateDestination()" [(ngModel)]="destination" [ngClass]="{ 'uk-form-success': destinationStatus === 1, 'uk-form-danger': destinationStatus === 2 }" class="uk-input" id="form-horizontal-text1" type="text" placeholder="{{'Account to send to' | translate}}" autocomplete="off">
                  </div>
                </div>
              </div>

              <div uk-grid>
                <div class="uk-width-1-1">
                  <label class="uk-form-label" for="form-horizontal-text2">{{ 'Amount' | translate }} *</label>
                  <div class="uk-form-controls">
                    <div uk-grid>
                      <div class="uk-width-1-1">
                        <div class="uk-inline uk-width-1-1">
                          <a class="uk-form-icon uk-form-icon-flip" (click)="setMaxAmount()" style="padding-right: 7px;" uk-tooltip title="{{ 'Set Maximum Amount' | translate }}">{{ 'Max' | translate }}</a>
                          <input [(ngModel)]="amountInRai" class="uk-input" id="form-horizontal-text2" (keyup)="syncAmount()" (change)="syncAmount()" type="text" placeholder="{{'Amount of RAI to send' | translate}}" [ngClass]="{ 'uk-form-success': amountStatus === 1, 'uk-form-danger': amountStatus === 2 }">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div uk-grid>
                <div class="uk-width-1-1">
                  <label class="uk-form-label" for="form-horizontal-text3">{{ 'Note/Memo' | translate }}</label>
                  <div class="uk-form-controls">
                    <div class="uk-inline uk-width-1-1">
                      <input [(ngModel)]="note" class="uk-input" id="form-horizontal-text3" type="text" placeholder="{{'extra info, such as exchange\'s user id' | translate}}">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="uk-card-footer">
            <button class="uk-button uk-button-primary uk-width-1-1" type="button" (click)="send()">{{ 'Send' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Send Panel -->

    <!-- Confirmation Panel -->
    <div uk-grid *ngIf="activePanel === 'confirm'" class="uk-animation-slide-left">
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-width-1-1 uk-text-center">
          <span style="display: block; padding-top: 8px;">{{ 'You are about to send' | translate }}</span>
          <span style="display:block; font-size: 32px;">{{ amount | balance }}</span>
        </div>
        <br>
        <div uk-grid *ngIf="destination">
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">

                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ selectedAccountAddress() | shortAccount }}</span>
                    <span class="confirm-subtitle">{{ 'From Account' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
              <div class="uk-card-body" style="padding: 20px 20px;">
                <div uk-grid>
                  <div class="uk-width-1-2 uk-text-muted">
                    <span class="confirm-currency">{{ balance() | balance: 9 }}</span>
                    <span class="confirm-subtitle">{{ 'Current Balance' | translate }}</span>
                  </div>
                  <div class="uk-width-1-2 uk-text-right">
                    <span class="confirm-currency uk-text-danger">-{{ amount | balance: 9 }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-right" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ destination | shortAccount }}</span>
                    <span class="confirm-subtitle">{{ 'To Account' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div *ngIf="note" class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-right" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ note }}</span>
                    <span class="confirm-subtitle">{{ 'Note/Memo' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>

        </div>

        <div uk-grid>
          <div class="uk-width-1-2@s">
            <button (click)="activePanel = 'send'" class="uk-button uk-button-danger uk-width-1-1">{{ 'Cancel' | translate }}</button>
          </div>
          <div class="uk-width-1-2@s">
            <button class="uk-button uk-button-primary uk-width-1-1" (click)="confirm()">{{ 'Confirm & Send' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Confirmation Panel -->
  </div>
</div>