<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">
    <h2>{{ 'Account Settings' | translate }}</h2>

    <app-account-widget raiTitle="{{ 'Your account' | translate }}" [raiCopyable]="false"></app-account-widget>

    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{ 'Account Representative' | translate }}</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1" *ngIf="changable()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text1">{{ 'Current Representative' | translate }} </label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <input [value]="currentRep()" class="uk-input" disabled id="form-horizontal-text1" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="changable()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text2">{{ 'New Representative' | translate }} </label>
                <div class="uk-form-controls">
                  <div *ngIf="!locked()" class="uk-inline uk-width-1-1">
                    <input [(ngModel)]="newRep" class="uk-input" id="form-horizontal-text2" type="text">
                  </div>
                  <div *ngIf="locked()" class="uk-inline uk-width-1-1">
                    <input class="uk-input" disabled type="text" id="form-horizontal-text2" placeholder="{{ 'Unlock wallet first' | translate }}">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="!changable() && synced()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                {{ 'The account must receive a transaction before changing representative!' | translate }}
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="uk-card-footer uk-text-right" *ngIf="changable()">
        <button (click)="changeRep()" class="uk-button uk-button-secondary">{{ 'Change Representative' | translate }}</button>
      </div>
    </div>


    <div class="uk-card uk-card-default uk-margin" id="set-daily-limit">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{ 'Account Credit & Limits' | translate }}</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1" *ngIf="changable()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                <label class="uk-form-label" for="input-credit">{{ 'Current Credit' | translate }} </label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <input [value]="credit()" class="uk-input" disabled id="input-credit" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="changable()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                <label class="uk-form-label" for="input-daily-txns">{{ 'Daily Transactions Limit' | translate }} </label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <input [value]="currentDailyTxns()" class="uk-input" disabled id="input-daily-txns" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="changable()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                <label class="uk-form-label" for="input-open-orders">{{ 'Orders Concurrency Limit' | translate }} <span uk-icon="icon: info; ratio: 0.8;" uk-tooltip
                  title="{{ 'How many orders can be placed concurrently, completed or cancelled orders are not counted.' | translate }}"></span></label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <input [value]="orders()" class="uk-input" disabled id="input-open-orders" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="changable()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                <label class="uk-form-label" for="input-failed-swaps">{{ 'Swaps Limit' | translate }} <span uk-icon="icon: info; ratio: 0.8;" uk-tooltip
                  title="{{ 'One failed or expired swap costs one credit.' | translate }}"></span></label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <input [value]="swaps()" class="uk-input" disabled id="input-failed-swaps" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="changable()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text4">{{ 'Increase By' | translate }} </label>
                <div class="uk-form-controls">
                  <div *ngIf="!locked()" class="uk-inline uk-width-1-1">
                    <input [(ngModel)]="inputIncreaseCredit" class="uk-input" id="form-horizontal-text4" type="text" (keyup)="checkCredit()" (change)="checkCredit()" [ngClass]="{ 'uk-form-success': creditStatus === 1, 'uk-form-danger': creditStatus === 2 }">
                  </div>
                  <div *ngIf="locked()" class="uk-inline uk-width-1-1">
                    <input class="uk-input" disabled id="form-horizontal-text4" type="text" placeholder="{{ 'Unlock wallet first' | translate }}">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="changable()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text5">{{ 'Cost' | translate }} </label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <input [value]="cost()" class="uk-input" disabled id="form-horizontal-text5" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="!changable() && synced()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                {{ 'The account must receive a transaction before increasing daily transactions limit!' | translate }} 
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="uk-card-footer uk-text-right" *ngIf="changable()" >
        <button (click)="changeCredit()" class="uk-button uk-button-secondary">{{ 'Increase Credit' | translate }}</button>
      </div>
    </div>


    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{ 'Account Alias' | translate }}</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1" *ngIf="changable()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                <label class="uk-form-label" for="input-current-alias">{{ 'Current Alias' | translate }} </label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <input [value]="currentName()" class="uk-input" disabled id="input-current-alias" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="changable()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                <label class="uk-form-label" for="input-new-alias">{{ 'New Alias' | translate }} </label>
                <div class="uk-form-controls">
                  <div *ngIf="!locked()" class="uk-inline uk-width-1-1">
                    <input [(ngModel)]="newName" class="uk-input" id="input-new-alias" type="text">
                  </div>
                  <div *ngIf="locked()" class="uk-inline uk-width-1-1">
                    <input class="uk-input" disabled type="text" id="input-new-alias" placeholder="{{ 'Unlock wallet first' | translate }}">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="!changable() && synced()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                {{ 'The account must receive a transaction before changing alias!' | translate }}
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="uk-card-footer uk-text-right" *ngIf="changable()">
        <button (click)="changeName()" class="uk-button uk-button-secondary">{{ 'Change Alias' | translate }}</button>
      </div>
    </div>


    <div class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{ 'Account Verification' | translate }}</h3>
      </div>
      <div class="uk-card-body">
        <div uk-grid>

          <div class="uk-width-1-1" *ngIf="changable()">
            <div class="uk-form-horizontal">
              <div class="uk-margin uk-margin-remove-bottom">
                <label class="uk-form-label" for="input-current-domain">{{ 'Current Domain' | translate }} </label>
                <div class="uk-form-controls">
                  <div class="uk-inline uk-width-1-1">
                    <a *ngIf="showDnsVerified()" class="uk-form-icon uk-form-icon-flip" style="padding-right: 7px;" uk-tooltip title="{{ 'Verified' | translate }}"><span uk-icon="icon: check;" class="uk-text-success"></span></a>
                    <a *ngIf="showDnsUnverified()" class="uk-form-icon uk-form-icon-flip" style="padding-right: 7px;" uk-tooltip title="{{ 'Unverified' | translate }}"><span uk-icon="icon: warning;" class="uk-text-warning"></span></a>
                    <input [value]="currentDns()" class="uk-input" disabled id="input-current-domain" type="text">
                  </div>
                  <div  class="uk-width-1-1 uk-margin-remove" *ngIf="showDnsUnverified()">
                    <div class="uk-text-warning">
                      {{ 'To complete the verification, please put a DNS TXT record under your domain with the following name and value.'  | translate }} <br/>
                    </div>
                    <div class="uk-text-bold">
                      {{ 'Name:'  | translate }} _raicoin-verification <span ngxClipboard [cbContent]="'_raicoin-verification'" (cbOnSuccess)="nameCopied()" uk-icon="icon: copy" title="{{ 'Copy record name' | translate }}" uk-tooltip></span><br/>
                      {{ 'Value:'  | translate }} <span class="uk-text-break"> {{ selectedAccountAddress() }} </span> <span ngxClipboard [cbContent]="selectedAccountAddress()" (cbOnSuccess)="valueCopied()" uk-icon="icon: copy" title="{{ 'Copy record value' | translate }}" uk-tooltip></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="changable()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                <label class="uk-form-label" for="input-new-domain">{{ 'New Domain' | translate }} </label>
                <div class="uk-form-controls">
                  <div *ngIf="!locked()" class="uk-inline uk-width-1-1">
                    <input [(ngModel)]="newDns" (blur)="checkNewDns()" [ngClass]="{'uk-form-danger': newDnsStatus === 1 }" class="uk-input" id="input-new-domain" type="text" placeholder="{{ 'Input a domain name you own, such as google.com' | translate }}">
                  </div>
                  <div *ngIf="locked()" class="uk-inline uk-width-1-1">
                    <input class="uk-input" disabled type="text" id="input-new-domain" placeholder="{{ 'Unlock wallet first' | translate }}">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="uk-width-1-1" *ngIf="!changable() && synced()">
            <div class="uk-form-horizontal">
              <div class="uk-margin">
                {{ 'The account must receive a transaction before changing domain!' | translate }}
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="uk-card-footer" *ngIf="changable()">
        <div class="uk-button-group uk-text-right uk-align-right">
          <button *ngIf="showDnsUnverified()" (click)="verifyDns()" class="uk-button uk-button-secondary uk-margin-small-bottom">{{ 'Verify' | translate }}</button> 
          <button (click)="changeDns()" class="uk-button uk-button-secondary uk-margin-small-left uk-margin-small-bottom">{{ 'Change Domain' | translate }}</button>
        </div>
      </div>
    </div>


  </div>
</div>

