  <div class="uk-margin">
    <label class="uk-form-label" for="input-asset">
      {{ 'Asset' | translate }} *
    </label>
    <div class="uk-form-controls">
      <div class="uk-inline uk-width-1-1">
        <a *ngIf="selectedAsset" class="uk-form-icon" href="#" style="padding-left: 15px;"><img [src]="selectedAsset.chainLogo" width="20" height="20" /></a>
        <a *ngIf="selectedAsset" class="uk-form-icon" href="#" style="padding-left: 0px;" ><img [src]="selectedAsset.tokenLogo" width="20" height="20" /></a>
        <a #assetSelect (click)="onSelect()" uk-icon="icon: triangle-down;" class="uk-form-icon uk-form-icon-flip" style="padding-right: 0px;" ></a>
        <input #assetInput (focus)="onFocus()" (blur)="onBlur()" [(ngModel)]="assetInputText" (ngModelChange)="onChange()" [ngClass]="{ 'uk-form-danger': assetStatus() === 2 && !assetFocused && !searchResultShown }" class="uk-input" id="input-asset" type="text" placeholder="{{ 'Search by symbol, such as BTC' | translate }}" autocomplete="off" [style]="style()" />
        <button type="button" style="display:none"></button>
        <div uk-dropdown="mode: click" #assetDropdown class="uk-width-1-1 uk-margin-remove-top uk-padding-remove" >
          <ul class="uk-nav uk-dropdown-nav uk-text-truncate">
            <li *ngFor="let asset of assets()" >
              <div (mousedown)="selectAsset(asset)" (touchstart)="selectAsset(asset)" class="uk-inline uk-width-1-1 uk-padding-remove-left">
                <a class="uk-form-icon" href="#" style="padding-left: 15px;"><img [src]="asset.chainLogo" width="20" height="20" /></a>
                <a class="uk-form-icon" href="#" style="padding-left: 00px;" ><img [src]="asset.tokenLogo" width="20" height="20" /></a>
                <span style="padding-left: 50px; font-weight: bold;">{{ asset.textFormat() }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="!selectedAsset || selectedAsset.type === '20'" class="uk-margin">
    <label class="uk-form-label" for="form-input-amount">{{ 'Amount' | translate }} *</label>
    <div class="uk-form-controls">
      <div uk-grid>
        <div class="uk-width-1-1">
          <div class="uk-inline uk-width-1-1">
            <a class="uk-form-icon uk-form-icon-flip" (click)="setMaxAmount()" style="padding-right: 7px; width: auto;" uk-tooltip title="{{ 'Set Maximum Amount' | translate }}">{{ 'Max' | translate }}</a>
            <input (change)="syncAmount()" (keyup)="syncAmount()" [(ngModel)]="amountInputText" class="uk-input" id="form-input-amount" type="text" [placeholder]="amountHint()" [ngClass]="{ 'uk-form-success': amountStatus === 1, 'uk-form-danger': amountStatus === 2 }">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedAsset && selectedAsset.type === '721'" class="uk-margin">
    <label class="uk-form-label" for="form-select-token-id">{{ 'Token ID' | translate }} *</label>
    <div class="uk-form-controls">
      <div uk-grid>
        <div class="uk-width-1-1">
          <div class="uk-inline uk-width-1-1">
            <a *ngIf="hasMoreTokenIds()" class="uk-form-icon uk-form-icon-flip" (click)="loadMoreBurnTokenIds()" style="padding-right: 20px;" uk-tooltip title="{{ 'Load more IDs' | translate }}">{{ 'More' | translate }}</a>
            <select class="uk-select" [(ngModel)]="selectedTokenId" id="form-select-token-id">
              <option *ngFor="let id of tokenIds()" [value]="id">{{ id }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
