<h2>{{ 'Cross Chain' | translate }} {{ 'Wrap' }}</h2>

<app-account-widget raiTitle="{{ 'Your account' | translate }}"></app-account-widget>

<p>
  <b>WRAP = </b> {{ 'transfer token from Raicoin chain to third party chains.' | translate }}
  <br />
  <b>UNWRAP = </b> {{ 'transfer token from third party chains back to Raicoin chain.' | translate }}
</p>

<div uk-grid *ngIf="activePanel == 'wrap' || activePanel == 'unwrap'">
  <div class="uk-width-1-1">
    <div class="uk-button-group uk-width-1-1">
      <button (click)="setPanel('wrap')" class="uk-button uk-width-1-2"
        [ngClass]="{ 'uk-button-primary': activePanel == 'wrap', 'uk-button-secondary': activePanel != 'wrap' }">Wrap</button>
      <button (click)="setPanel('unwrap')" class="uk-button uk-width-1-2"
        [ngClass]="{ 'uk-button-primary': activePanel == 'unwrap', 'uk-button-secondary': activePanel != 'unwrap' }">Unwrap</button>
    </div>
  </div>
</div>

<!-- Wrap Panel -->
<div *ngIf="activePanel === 'wrap' && wrapContractCreated() === false" class="uk-alert-warning" uk-alert>
  <p><b>{{ 'Reminder' | translate }}:</b> {{ 'It seems you are the first user trying to wrap the current token, you need to create the wrap contract first. This operation will cost more gas than usual!' | translate }}</p>
</div>

<div class="uk-card uk-card-default" [hidden]="activePanel != 'wrap'">
  <div class="uk-card-body">
    <div class="uk-form-horizontal">
      <app-asset-widget #wrapAssetWidget (raiChange)="onWrapAssetChanged()" raiAmountHint="The amount to wrap" [raiShowRaicoin]="false"></app-asset-widget>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-input-wrap-original-chain">{{ 'Original Chain' | translate }}</label>
        <div class="uk-form-controls">
          <input [value]="wrapOriginalChain()" class="uk-input" disabled id="form-input-wrap-original-chain" type="text">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-wrap-sender">{{ 'Sender' | translate }}</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <input [ngModel]="raiShortAccount()" class="uk-input" id="form-wrap-sender" type="text" disabled autocomplete="off">
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-select-wrap-target-chain">{{ 'Wrap Chain' | translate }} *</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <select class="uk-select" [(ngModel)]="selectedWrapTargetChain" (ngModelChange)="wrapTargetChainChanged($event)" id="form-select-wrap-target-chain">
              <option *ngFor="let option of wrapTargetChains()" [value]="option" >{{ showChain(option) }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-wrap-contract">{{ 'Wrap Contract' | translate }}</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <a *ngIf="wrapShowMetaMask()" (click)="wrapAddContractToMetaMask()" class="uk-form-icon uk-form-icon-flip" style="padding-right: 20px;">
              <img src="./assets/logos/metamask.png" width="20" height="20"/>
            </a>
            <a ngxClipboard [cbContent]="wrapContract() " (cbOnSuccess)="wrapContractCopied()" uk-icon="icon: copy;" class="uk-form-icon uk-form-icon-flip" style="padding-right: 7px; width: auto;"></a>
            <input [ngModel]="shortWrapContract()" class="uk-input" id="form-wrap-contract" type="text" disabled autocomplete="off">
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-wrap-recipient">{{ 'Recipient' | translate }}</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <input [ngModel]="shortWrapRecipient()" class="uk-input" id="form-wrap-recipient" type="text" disabled autocomplete="off" placeholder="{{ 'Connect wallet to show' | translate }}">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="uk-card-footer uk-text-right uk-hidden@m">
    <div uk-grid>
      <div *ngIf="wrapFetchingData()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-disabled uk-width-1-1">
          {{ 'Fetching Data ...' | translate }}</button>
      </div>
      <div *ngIf="wrapCollectingSignatures()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-disabled uk-width-1-1">
          {{ 'Collecting Signatures ...' | translate }}</button>
      </div>
      <div *ngIf="wrapContractWaiting()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-disabled uk-width-1-1">
          {{ 'Waiting ...' | translate }}</button>
      </div>
      <div *ngIf="wrapContractSubmitting()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-disabled uk-width-1-1">
          {{ 'Submitting ...' | translate }}</button>
      </div>
      <div *ngIf="wrapContractCreatable()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="create()">
          {{ 'Create Wrap Contract' | translate }}</button>
      </div>
      <div *ngIf="!wrapable()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-disabled uk-width-1-1">
          Wrap</button>
      </div>
      <div *ngIf="wrapable()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="wrap()">
          Wrap</button>
      </div>
      <div *ngIf="wrapShowConnectWallet()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="wrapConnectWallet()">
          {{ 'Connect Wallet' | translate }}</button>
      </div>
      <div *ngIf="wrapShowDisconnectWallet()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-danger uk-width-1-1" (click)="wrapDisconnectWallet()">
          {{ 'Disconnect Wallet' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="uk-card-footer uk-text-right uk-visible@m">
    <div class="uk-button-group">
      <button *ngIf="wrapFetchingData()" class="uk-button uk-button-disabled uk-margin-right"
        >{{ 'Fetching Data ...' | translate }}</button>
      <button *ngIf="wrapCollectingSignatures()" class="uk-button uk-button-disabled uk-margin-right"
        >{{ 'Collecting Signatures ...' | translate }}</button>
      <button *ngIf="wrapContractWaiting()" class="uk-button uk-button-disabled uk-margin-right"
        >{{ 'Waiting ...' | translate }}</button>
      <button *ngIf="wrapContractSubmitting()" class="uk-button uk-button-disabled uk-margin-right"
        >{{ 'Submitting ...' | translate }}</button>
      <button *ngIf="wrapContractCreatable()" class="uk-button uk-button-primary uk-margin-right"
        (click)="create()">{{ 'Create Wrap Contract' | translate }}</button>
      <button *ngIf="!wrapable()" class="uk-button uk-button-disabled uk-margin-right"
        >Wrap</button>
      <button *ngIf="wrapable()" class="uk-button uk-button-primary uk-margin-right"
        (click)="wrap()">Wrap</button>
      <button *ngIf="wrapShowConnectWallet()" class="uk-button uk-button-primary uk-margin-right"
        (click)="wrapConnectWallet()">{{ 'Connect Wallet' | translate }}</button>
      <button *ngIf="wrapShowDisconnectWallet()" class="uk-button uk-button-danger uk-margin-right"
        (click)="wrapDisconnectWallet()">{{ 'Disconnect Wallet' | translate }}</button>
    </div>
  </div>

</div>

<div [hidden]="activePanel !== 'wrap'" uk-grid style="margin-top: 25px;">
  <div class="uk-width-1-1">
    <h3 class="uk-heading-divider uk-text-center" style="margin-bottom: 0;">{{ 'Your WRAP history' | translate }}
    </h3>
    <table class="uk-table uk-table-striped uk-table-small" style="margin-top: 0;">
      <thead>
        <tr>
          <th class="uk-width-1-4 uk-text-left">{{ 'Wrap Chain' | translate }}</th>
          <th class="uk-width-1-4 uk-text-left">{{ 'Recipient' | translate }}</th>
          <th class="uk-width-1-4 uk-text-right">{{ 'Amount' | translate }}</th>
          <th class="uk-width-1-4 uk-text-center">{{ 'Status' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wrap of wraps()">
          <td (click)="selectWrap(wrap)" class="uk-text-left uk-text-truncate"><img [src]="wrapItemTargetChainLogo(wrap)" width="20" height="20" style="vertical-align: text-top;" />{{ wrapItemShowTargetChain(wrap) }}</td>
          <td (click)="selectWrap(wrap)" class="uk-text-left uk-text-truncate">{{ wrap.toAccount }}</td>
          <td (click)="selectWrap(wrap)" class="uk-text-right">{{ wrapItemAmount(wrap) }}<span style="font-size: 12px;"> {{ wrapItemTokenTypeShown(wrap) }}</span></td>
          <td (click)="selectWrap(wrap)" class="uk-text-center">
            <span *ngIf="wrapItemStatus(wrap) === 'confirmed'" uk-icon="icon: check;" class="uk-text-success" title="{{ wrapShowStatus(wrap) }}" uk-tooltip></span>
            <span *ngIf="wrapItemStatus(wrap) === 'confirming'" class="uk-text-warning">{{ wrapItemConfirms(wrap) }}</span>
            <span *ngIf="wrapItemStatus(wrap) === 'collected'" uk-icon="icon: forward;" title="{{ wrapShowStatus(wrap) }}" class="uk-text-warning" (click)="wrapRetry(wrap)"
            uk-tooltip></span>
            <span *ngIf="wrapShowSpin(wrap)" uk-spinner="ratio: 0.6;" title="{{ wrapShowStatus(wrap) }}"
            uk-tooltip></span>
          </td>
        </tr>
        <tr *ngIf="noWraps()">
          <td colspan="4" style="text-align: center;">{{ 'No WRAP history' | translate }}</td>
        </tr>
        <tr *ngIf="moreWraps()">
          <td colspan="4" style="text-align: center;">
            <a (click)="loadMoreWraps()" class="uk-link-text">{{ 'Load More Results' | translate }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Wrap Confirmation Panel -->
<div uk-grid *ngIf="activePanel === 'wrap_confirm'" class="uk-animation-slide-left">
  <div class="uk-width-1-1">

    <div class="uk-card uk-card-default uk-width-1-1 uk-text-center">
      <span style="display: block; padding-top: 8px;">{{ 'You are about to' | translate }} WRAP</span>
      <span style="display:block; font-size: 32px;">{{ wrapShowAmount() }}</span>
    </div>

    <br />

    <div uk-grid>

      <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-default">
          <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
            <span class="confirm-title uk-text-break">
              <div>
                <span class="confirm-currency uk-text-danger">-{{ wrapShowAmount(true) }}</span>
                <span class="confirm-subtitle">{{ 'You Send' | translate }}</span>
                <br class="br-spacer" />
              </div>
            </span>
          </div>
          <div class="uk-card-body" style="padding: 20px 20px;">
            <div uk-grid>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ raiAccount() | shortAccount:7 }}</span>
                <span class="confirm-subtitle">{{ 'Sender' | translate }}</span>
              </div>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ wrapOriginalChain() }}</span>
                <span class="confirm-subtitle">{{ 'Original Chain' | translate }}</span>
              </div>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ wrapOriginalTokenAddress() | shortAccount:7 }}</span>
                <span class="confirm-subtitle">{{ 'Token Address' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-default">
          <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
            <span class="confirm-title uk-text-break">
              <div>
                <span class="confirm-currency uk-text-success">+{{ wrapShowTargetAmount() }}</span>
                <span class="confirm-subtitle">{{ 'You Receive' | translate }}</span>
                <br class="br-spacer" />
              </div>
            </span>
          </div>
          <div class="uk-card-body" style="padding: 20px 20px;">
            <div uk-grid>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ wrapRecipient() | shortAccount:7 }}</span>
                <span class="confirm-subtitle">{{ 'Recipient' | translate }}</span>
              </div>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ wrapShowTargetChain() }}</span>
                <span class="confirm-subtitle">{{ 'Wrap Chain' | translate }}</span>
              </div>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ wrapContract() | shortAccount:7 }}</span>
                <span class="confirm-subtitle">{{ 'Wrap Contract' | translate }}</span>
              </div>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ wrapFeeAndGas() }}</span>
                <span class="confirm-subtitle">{{ 'Fee & Gas (estimated)' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div uk-grid>
      <div class="uk-width-1-2@s">
        <button (click)="wrapCancel()" class="uk-button uk-button-danger uk-width-1-1">{{ 'Cancel' | translate }}</button>
      </div>
      <div class="uk-width-1-2@s">
        <button *ngIf="wrapFeeAndGas() !== ''" class="uk-button uk-button-primary uk-width-1-1" (click)="wrapConfirm()">{{ 'Confirm' | translate }}</button>
        <button *ngIf="wrapFeeAndGas() === '' && !wrapInsufficientFunds" class="uk-button uk-button-disabled uk-width-1-1" >{{ 'Fetching Fee & Gas ...' | translate }}</button>
        <button *ngIf="wrapFeeAndGas() === '' && wrapInsufficientFunds" class="uk-button uk-button-disabled uk-width-1-1" >{{ 'Insufficient Fee & Gas' | translate }}</button>
      </div>
    </div>

  </div>
</div>

<!-- Wrap Details Panel -->
<div [hidden]="activePanel !== 'wrap_details'" class="uk-card uk-card-default uk-margin">
  <div class="uk-card-header">
    <div uk-grid>
      <h3 class="uk-card-title">WRAP {{ 'Details' | translate }}</h3>
    </div>
  </div>

  <div class="uk-card-body uk-padding-remove uk-form-horizontal">
    <div class="uk-padding-small" uk-grid>
      <div class="uk-width-1-1">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Original Chain' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            {{ selectedWrapItemOriginalChain() }}
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Token Address' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            <div uk-grid>
              <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
                {{ selectedWrapItemTokenAddress() }}
              </div>
              <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
                <a ngxClipboard
                  [cbContent]="selectedWrapItemTokenAddress() " (cbOnSuccess)="tokenAddressCopied()" uk-icon="icon: copy" title="{{ 'Copy Token Address' | translate }}" uk-tooltip></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Source Hash' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            <div uk-grid>
              <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
                {{ selectedWrapItemSourceHash() }}
              </div>
              <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
                <a ngxClipboard
                  [cbContent]="selectedWrapItemSourceHash()" (cbOnSuccess)="sourceHashCopied()" uk-icon="icon: copy" title="{{ 'Copy Source Hash' | translate }}" uk-tooltip></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Sender' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            <div uk-grid>
              <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
                {{ selectedWrapItemSender() }}
              </div>
              <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
                <a ngxClipboard
                  [cbContent]="selectedWrapItemSender() " (cbOnSuccess)="senderCopied()" uk-icon="icon: copy" title="{{ 'Copy Sender' | translate }}" uk-tooltip></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Sent Time' | translate }}
          </div>
          <div *ngIf="selectedWrapItemSentAt() !== 0" class="uk-width-3-5 uk-text-left">
            {{ selectedWrapItemSentAt() * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}
          </div>
          <div *ngIf="selectedWrapItemSentAt() === 0" class="uk-width-3-5 uk-text-left">
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Amount' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left uk-text-break">
            {{ selectedWrapItemAmount() }}
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Wrap Chain' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            {{ selectedWrapItemTargetChain() }}
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Wrap Contract' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            <div uk-grid>
              <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
                {{ selectedWrapItemWrapContract() }}
              </div>
              <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
                <a ngxClipboard
                  [cbContent]="selectedWrapItemWrapContract() " (cbOnSuccess)="contractCopied()" uk-icon="icon: copy" title="{{ 'Copy Contract' | translate }}" uk-tooltip></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Recipient' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            <div uk-grid>
              <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
                {{ selectedWrapItemRecipient() }}
              </div>
              <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
                <a ngxClipboard
                  [cbContent]="selectedWrapItemRecipient() " (cbOnSuccess)="recipientCopied()" uk-icon="icon: copy" title="{{ 'Copy Recipient' | translate }}" uk-tooltip></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Dest Hash' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            <div uk-grid>
              <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
                {{ selectedWrapItemDestHash() }}
              </div>
              <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
                <a ngxClipboard
                  [cbContent]="selectedWrapItemDestHash() " (cbOnSuccess)="destHashCopied()" uk-icon="icon: copy" title="{{ 'Copy Destination Hash' | translate }}" uk-tooltip></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Received Time' | translate }}
          </div>
          <div *ngIf="selectedWrapItemReceivedAt() !== 0" class="uk-width-3-5 uk-text-left">
            {{ selectedWrapItemReceivedAt() * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}
          </div>
          <div *ngIf="selectedWrapItemReceivedAt() === 0" class="uk-width-3-5 uk-text-left">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="uk-card-footer uk-text-right">
    <div class="uk-width-1-1">
      <button class="uk-button uk-button-secondary" (click)="activePanel='wrap'">{{ 'Back'
        | translate }}</button>
    </div>
  </div>

</div>


<!-- Unwrap Panel -->
<div class="uk-card uk-card-default" [hidden]="activePanel != 'unwrap'">
  <div class="uk-card-body">
    <div class="uk-form-horizontal">

      <div class="uk-margin">
        <label class="uk-form-label" for="form-select-unwrap-source-chain">{{ 'Wrap Chain' | translate }} *</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <select class="uk-select" [(ngModel)]="selectedUnwrapSourceChain" (ngModelChange)="unwrapSourceChainChanged($event)" id="form-select-unwrap-source-chain">
              <option *ngFor="let option of unwrapSourceChains()" [value]="option" >{{ showChain(option) }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-unwrap-contract">{{ 'Wrap Contract' | translate }}</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <a *ngIf="unwrapShowMetaMask()" (click)="unwrapAddContractToMetaMask()" class="uk-form-icon uk-form-icon-flip" style="padding-right: 20px;">
              <img src="./assets/logos/metamask.png" width="20" height="20"/>
            </a>
            <a ngxClipboard [cbContent]="unwrapContract() " (cbOnSuccess)="wrapContractCopied()" uk-icon="icon: copy;" class="uk-form-icon uk-form-icon-flip" style="padding-right: 7px; width: auto;"></a>
            <input [ngModel]="shortUnwrapContract()" class="uk-input" id="form-unwrap-contract" type="text" disabled autocomplete="off">
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-unwrap-sender">{{ 'Sender' | translate }}</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <input [ngModel]="shortUnwrapSender()" class="uk-input" id="form-unwrap-sender" type="text" disabled autocomplete="off" placeholder="{{ 'Connect wallet to show' | translate }}">
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <app-token-widget raiLabel="{{ 'Original Token' | translate }}" #unwrapTokenWidget (raiChange)="onUnwrapTokenChange()" [raiTokenFilter]="unwrapTokenFilter">
        </app-token-widget>
      </div>

      <div *ngIf="unwrapTokenType() === '20'" class="uk-margin">
        <label class="uk-form-label" for="form-input-unwrap-amount">
          {{ 'Amount' | translate }} *
        </label>
        <div class="uk-form-controls">
          <div uk-grid>
            <div class="uk-width-1-1">
              <div class="uk-inline uk-width-1-1">
                <a class="uk-form-icon uk-form-icon-flip" style="padding-right: 7px; width: auto;">{{ unwrapTokenSymbol()
                  }}</a>
                <input (change)="syncUnwrapAmount()" (keyup)="syncUnwrapAmount()" [(ngModel)]="inputUnwrapAmount"
                  class="uk-input" id="form-input-unwrap-amount" type="text"
                  placeholder="{{ 'Amount to unwrap' | translate }}"
                  [ngClass]="{ 'uk-form-success': unwrapAmountStatus === 1, 'uk-form-danger': unwrapAmountStatus === 2 }">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="unwrapTokenType() === '721'" class="uk-margin">
        <label class="uk-form-label" for="form-input-unwrap-token-id">
          {{ 'Token ID' | translate }} *
        </label>
        <div class="uk-form-controls">
          <div uk-grid>
            <div class="uk-width-1-1">
              <div class="uk-inline uk-width-1-1">
                <a class="uk-form-icon uk-form-icon-flip" style="padding-right: 7px; width: auto;">{{ unwrapTokenSymbol() }}</a>
                <input (change)="syncUnwrapTokenId()" (keyup)="syncUnwrapTokenId()" [(ngModel)]="inputUnwrapTokenId"
                  class="uk-input" id="form-input-unwrap-token-id" type="text"
                  placeholder="{{ 'Token ID to transfer' | translate }}"
                  [ngClass]="{ 'uk-form-success': unwrapTokenIdStatus === 1, 'uk-form-danger': unwrapTokenIdStatus === 2 }">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-input-unwrap-original-chain">{{ 'Original Chain' | translate }}</label>
        <div class="uk-form-controls">
          <input [value]="unwrapOriginalChain()" class="uk-input" disabled id="form-input-unwrap-original-chain" type="text">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-unwrap-recipient">{{ 'Recipient' | translate }}</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <input [ngModel]="raiShortAccount()" class="uk-input" id="form-unwrap-recipient" type="text" disabled autocomplete="off">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="uk-card-footer uk-text-right uk-hidden@m">
    <div uk-grid>
      <div *ngIf="unwrapApprovable()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="unwrapApprove()">
          {{ 'Enable' | translate }}</button>
      </div>
      <div *ngIf="unwrapFetchingData()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-disabled uk-width-1-1">{{ 'Fetching Data ...' | translate }}</button>
      </div>
      <div *ngIf="unwrapApproveStatus == 'checking'" class="uk-width-1-2@m">
        <button  class="uk-button uk-button-disabled uk-width-1-1">{{ 'Checking ...' | translate }}</button>
      </div>
      <div *ngIf="unwrapApproveStatus == 'waiting'" class="uk-width-1-2@m">
        <button class="uk-button uk-button-disabled uk-width-1-1">{{ 'Waiting ...' | translate }}</button>
      </div>
      <div *ngIf="unwrapable()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="unwrap()">
          Unwrap</button>
      </div>
      <div *ngIf="!unwrapable()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-disabled uk-width-1-1">
          Unwrap</button>
      </div>
      <div *ngIf="unwrapShowConnectWallet()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="unwrapConnectWallet()">
          {{ 'Connect Wallet' | translate }}</button>
      </div>
      <div *ngIf="unwrapShowDisconnectWallet()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-danger uk-width-1-1" (click)="unwrapDisconnectWallet()">
          {{ 'Disconnect Wallet' | translate }}</button>
      </div>
      <div class="uk-width-1-2@m">
        <button routerLink="/assets" [queryParams]="{ add: 1}" class="uk-button uk-button-secondary uk-width-1-1">+ {{
          'Custom Token' |
          translate }}</button>
      </div>
    </div>
  </div>

  <div class="uk-card-footer uk-text-right uk-visible@m">
    <div class="uk-button-group">
      <button *ngIf="unwrapApprovable()"
        class="uk-button uk-button-primary uk-margin-right" (click)="unwrapApprove()">{{ 'Enable' | translate }}</button>
      <button *ngIf="unwrapFetchingData()"
        class="uk-button uk-button-disabled uk-margin-right">{{ 'Fetching Data ...' | translate }}</button>
      <button *ngIf="unwrapApproveStatus == 'checking'" class="uk-button uk-button-disabled uk-margin-right">{{ 'Checking ...' | translate }}</button>
      <button *ngIf="unwrapApproveStatus == 'waiting'" class="uk-button uk-button-disabled uk-margin-right">{{ 'Waiting ...' | translate }}</button>
      <button *ngIf="unwrapable()" class="uk-button uk-button-primary uk-margin-right"
        (click)="unwrap()">Unwrap</button>
      <button *ngIf="!unwrapable()" class="uk-button uk-button-disabled uk-margin-right">
        Unwrap</button>
      <button *ngIf="unwrapShowConnectWallet()" class="uk-button uk-button-primary uk-margin-right"
        (click)="unwrapConnectWallet()">{{ 'Connect Wallet' | translate }}</button>
      <button *ngIf="unwrapShowDisconnectWallet()" class="uk-button uk-button-danger uk-margin-right"
        (click)="unwrapDisconnectWallet()">{{ 'Disconnect Wallet' | translate }}</button>
      <button routerLink="/assets" [queryParams]="{ add: 1}" class="uk-button uk-button-secondary uk-margin-right">+ {{
        'Custom Token' | translate }}</button>
    </div>
  </div>

</div>

<div [hidden]="activePanel !== 'unwrap' || selectedUnwrapSourceChain === ''" uk-grid style="margin-top: 25px;">
  <div class="uk-width-1-1">
    <h3 class="uk-heading-divider uk-text-center" style="margin-bottom: 0;">{{ 'Your UNWRAP history' | translate }}
    </h3>
    <div class="uk-width-1-1 uk-text-center">
      {{ 'From ' | translate }} {{ unwrapShowSourceChain() }}
    </div>
    <table class="uk-table uk-table-striped uk-table-small" style="margin-top: 0;">
      <thead>
        <tr>
          <th class="uk-width-1-3@m uk-width-1-3 uk-text-left">{{ 'Sender' | translate }}</th>
          <th class="uk-width-1-3@m uk-width-1-3 uk-text-right">{{ 'Amount' | translate }}</th>
          <th class="uk-width-1-3@m uk-width-1-3 uk-text-center">{{ 'Status' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unwrap of unwraps()">
          <td (click)="selectUnwrap(unwrap)" class="uk-text-left uk-text-truncate">{{ unwrap.fromAccount }}</td>
          <td (click)="selectUnwrap(unwrap)" class="uk-text-right">{{ unwrapItemAmount(unwrap) }}<span style="font-size: 12px;"> {{ unwrapItemTokenTypeShown(unwrap) }}</span></td>
          <td (click)="selectUnwrap(unwrap)" class="uk-text-center">
            <span *ngIf="unwrapItemSuccess(unwrap)" uk-icon="icon: check;" class="uk-text-success"></span>
            <span *ngIf="!unwrapItemSuccess(unwrap)" class="uk-text-warning">{{ unwrapItemConfirms(unwrap) }}</span>
          </td>
        </tr>
        <tr *ngIf="noUnwraps()">
          <td colspan="3" style="text-align: center;">{{ 'No UNWRAP history' | translate }}</td>
        </tr>
        <tr *ngIf="moreUnwraps()">
          <td colspan="3" style="text-align: center;">
            <a (click)="loadMoreUnwraps()" class="uk-link-text">{{ 'Load More Results' | translate }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Unwrap Confirmation Panel -->
<div uk-grid *ngIf="activePanel === 'unwrap_confirm'" class="uk-animation-slide-left">
  <div class="uk-width-1-1">

    <div class="uk-card uk-card-default uk-width-1-1 uk-text-center">
      <span style="display: block; padding-top: 8px;">{{ 'You are about to' | translate }} UNWRAP</span>
      <span style="display:block; font-size: 32px;">{{ unwrapShowAmount() }}</span>
    </div>

    <br />

    <div uk-grid>

      <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-default">
          <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
            <span class="confirm-title uk-text-break">
              <div>
                <span class="confirm-currency uk-text-danger">-{{ unwrapShowSourceAmount() }}</span>
                <span class="confirm-subtitle">{{ 'You Send' | translate }}</span>
                <br class="br-spacer" />
              </div>
            </span>
          </div>
          <div class="uk-card-body" style="padding: 20px 20px;">
            <div uk-grid>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ unwrapSender() | shortAccount:7 }}</span>
                <span class="confirm-subtitle">{{ 'Sender' | translate }}</span>
              </div>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ unwrapShowSourceChain() }}</span>
                <span class="confirm-subtitle">{{ 'Wrap Chain' | translate }}</span>
              </div>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ unwrapContract() | shortAccount:7 }}</span>
                <span class="confirm-subtitle">{{ 'Wrap Contract' | translate }}</span>
              </div>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ unwrapFeeAndGas() }}</span>
                <span class="confirm-subtitle">{{ 'Fee & Gas (estimated)' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-default">
          <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
            <span class="confirm-title uk-text-break">
              <div>
                <span class="confirm-currency uk-text-success">+{{ unwrapShowAmount() }}</span>
                <span class="confirm-subtitle">{{ 'You Receive' | translate }}</span>
                <br class="br-spacer" />
              </div>
            </span>
          </div>
          <div class="uk-card-body" style="padding: 20px 20px;">
            <div uk-grid>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ raiAccount() | shortAccount:7 }}</span>
                <span class="confirm-subtitle">{{ 'Recipient' | translate }}</span>
              </div>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ unwrapOriginalChain() }}</span>
                <span class="confirm-subtitle">{{ 'Original Chain' | translate }}</span>
              </div>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ unwrapOriginalTokenAddress() | shortAccount:7 }}</span>
                <span class="confirm-subtitle">{{ 'Token Address' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div uk-grid>
      <div class="uk-width-1-2@s">
        <button (click)="unwrapCancel()" class="uk-button uk-button-danger uk-width-1-1">{{ 'Cancel' | translate }}</button>
      </div>
      <div class="uk-width-1-2@s">
        <button *ngIf="unwrapFeeAndGas() !== ''" class="uk-button uk-button-primary uk-width-1-1" (click)="unwrapConfirm()">{{ 'Confirm' | translate }}</button>
        <button *ngIf="unwrapFeeAndGas() === '' && !unwrapInsufficientFunds" class="uk-button uk-button-disabled uk-width-1-1" >{{ 'Fetching Fee & Gas ...' | translate }}</button>
        <button *ngIf="unwrapFeeAndGas() === '' && unwrapInsufficientFunds" class="uk-button uk-button-disabled uk-width-1-1" >{{ 'Insufficient Funds' | translate }}</button>
      </div>
    </div>

  </div>
</div>

<!-- Unwrap Details Panel -->
<div [hidden]="activePanel !== 'unwrap_details'" class="uk-card uk-card-default uk-margin">
  <div class="uk-card-header">
    <div uk-grid>
      <h3 class="uk-card-title">UNWRAP {{ 'Details' | translate }}</h3>
    </div>
  </div>

  <div class="uk-card-body uk-padding-remove uk-form-horizontal">
    <div class="uk-padding-small" uk-grid>
      <div class="uk-width-1-1">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Original Chain' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            {{ selectedUnwrapItemOriginalChain() }}
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Token Address' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            <div uk-grid>
              <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
                {{ selectedUnwrapItemTokenAddress() }}
              </div>
              <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
                <a ngxClipboard
                  [cbContent]="selectedUnwrapItemTokenAddress() " (cbOnSuccess)="tokenAddressCopied()" uk-icon="icon: copy" title="{{ 'Copy Token Address' | translate }}" uk-tooltip></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Wrap Chain' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            {{ selectedUnwrapItemSourceChain() }}
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Wrap Contract' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            <div uk-grid>
              <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
                {{ selectedUnwrapItemWrapContract() }}
              </div>
              <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
                <a ngxClipboard
                  [cbContent]="selectedUnwrapItemWrapContract() " (cbOnSuccess)="contractCopied()" uk-icon="icon: copy" title="{{ 'Copy Contract' | translate }}" uk-tooltip></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Source Hash' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            <div uk-grid>
              <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
                {{ selectedUnwrapItemSourceHash() }}
              </div>
              <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
                <a ngxClipboard
                  [cbContent]="selectedUnwrapItemSourceHash()" (cbOnSuccess)="sourceHashCopied()" uk-icon="icon: copy" title="{{ 'Copy Source Hash' | translate }}" uk-tooltip></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Sender' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            <div uk-grid>
              <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
                {{ selectedUnwrapItemSender() }}
              </div>
              <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
                <a ngxClipboard
                  [cbContent]="selectedUnwrapItemSender() " (cbOnSuccess)="senderCopied()" uk-icon="icon: copy" title="{{ 'Copy Sender' | translate }}" uk-tooltip></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Sent Time' | translate }}
          </div>
          <div *ngIf="selectedUnwrapItemSentAt() !== 0" class="uk-width-3-5 uk-text-left">
            {{ selectedUnwrapItemSentAt() * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}
          </div>
          <div *ngIf="selectedUnwrapItemSentAt() === 0" class="uk-width-3-5 uk-text-left">
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Amount' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left uk-text-break">
            {{ selectedUnwrapItemAmount() }}
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Recipient' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            <div uk-grid>
              <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
                {{ selectedUnwrapItemRecipient() }}
              </div>
              <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
                <a ngxClipboard
                  [cbContent]="selectedUnwrapItemRecipient() " (cbOnSuccess)="recipientCopied()" uk-icon="icon: copy" title="{{ 'Copy Recipient' | translate }}" uk-tooltip></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Dest Hash' | translate }}
          </div>
          <div class="uk-width-3-5 uk-text-left">
            <div uk-grid>
              <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">
                {{ selectedUnwrapItemDestHash() }}
              </div>
              <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left">
                <a ngxClipboard
                  [cbContent]="selectedUnwrapItemDestHash() " (cbOnSuccess)="destHashCopied()" uk-icon="icon: copy" title="{{ 'Copy Destination Hash' | translate }}" uk-tooltip></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-1 uk-margin-small-top">
        <div uk-grid>
          <div class="uk-width-2-5 uk-text-left">
            {{ 'Received Time' | translate }}
          </div>
          <div *ngIf="selectedUnwrapItemReceivedAt() !== 0" class="uk-width-3-5 uk-text-left">
            {{ selectedUnwrapItemReceivedAt() * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}
          </div>
          <div *ngIf="selectedUnwrapItemReceivedAt() === 0" class="uk-width-3-5 uk-text-left">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="uk-card-footer uk-text-right">
    <div class="uk-width-1-1">
      <button class="uk-button uk-button-secondary" (click)="activePanel='unwrap'">{{ 'Back'
        | translate }}</button>
    </div>
  </div>

</div>


<m-web3-modal title="Please choose a web3 protocol" description="" descriptionGray="" dismissText="Cancel">
</m-web3-modal>