<div class="uk-animation-slide-left-small" uk-grid>
  <div class="uk-width-1-1">

    <h2>{{ 'Issue & Manage Token' | translate }}</h2>
    <p>
      {{ 'Each account is allowed to create one Raicoin native token. The token address is same with the account address.' | translate }}
      <br />
      <app-account-widget raiTitle="{{ 'Your account' | translate }}" [raiCopyable]="false"></app-account-widget>
    </p>

    <!-- Create Token Panel -->
    <div *ngIf="activePanel === 'create'" class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{ 'Create Token' | translate }}</h3>
      </div>
    
      <div class="uk-card-body">
        <div class="uk-form-horizontal">
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select-token-type">{{ 'Type' | translate }} *</label>
            <div class="uk-form-controls">
              <select class="uk-select" [(ngModel)]="selectedTokenType"
                id="form-horizontal-select-token-type">
                <option value="RAI-20" selected>RAI-20</option>
                <option value="RAI-721">RAI-721</option>
              </select>
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text-token-name">{{ 'Name' | translate }} *</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <input #elemTokenName [(ngModel)]="inputTokenName" class="uk-input" id="form-horizontal-text-token-name" type="text" placeholder="{{'Token name, such as Bitcoin' | translate}}" (keyup)="checkTokenName()" (change)="checkTokenName()" (blur)="checkTokenName()" [ngClass]="{ 'uk-form-danger': tokenNameStatus === 1 }">
              </div>
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text-token-symbol">{{ 'Symbol' | translate }} *</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <input #elemTokenSymbol [(ngModel)]="inputTokenSymbol" class="uk-input" id="form-horizontal-text-token-symbol" type="text" placeholder="{{'Token symbol, such as BTC' | translate}}" (keyup)="checkTokenSymbol()" (change)="checkTokenSymbol()" (blur)="checkTokenSymbol()" [ngClass]="{ 'uk-form-danger': tokenSymbolStatus === 1 }">
              </div>
            </div>
          </div>

          <div *ngIf="selectedTokenType == 'RAI-20'" class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text-decimals">{{ 'Decimals' | translate }}</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <input [(ngModel)]="inputDecimals" class="uk-input" id="form-horizontal-text-decimals" type="text" placeholder="18" [ngClass]="{ 'uk-form-danger': syncDecimals() }">
              </div>
            </div>
          </div>

          <div *ngIf="selectedTokenType == 'RAI-20'" class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text-init-supply">{{ 'Initial Supply' | translate }}</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <span *ngIf="inputInitSupply !== ''"  class="uk-form-icon uk-form-icon-flip" style="padding-right: 17px;">{{ inputTokenSymbol }}</span>
                <input [(ngModel)]="inputInitSupply" class="uk-input" id="form-horizontal-text-init-supply" type="text" placeholder="0" [ngClass]="{ 'uk-form-danger': syncInitSupply() }">
              </div>
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text-cap-supply">{{ 'Cap Supply' | translate }}</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <span *ngIf="inputCapSupply !== ''" class="uk-form-icon uk-form-icon-flip" style="padding-right: 17px;">{{ inputTokenSymbol }}</span>
                <input [(ngModel)]="inputCapSupply" class="uk-input" id="form-horizontal-text-cap-supply" type="text" placeholder="{{'Set to 0 or leave it blank as no limit' | translate}}" [ngClass]="{ 'uk-form-danger': syncCapSupply() }">
              </div>
            </div>
          </div>

          <div *ngIf="selectedTokenType == 'RAI-20'" class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-checkbox-mintable-20">{{ 'Mintable' | translate }} <span uk-icon="icon: info; ratio: 0.8;" uk-tooltip
              title="{{ 'Allow the issuer to mint additional tokens after creation.' | translate }}"></span></label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <input class="uk-checkbox" type="checkbox" [checked]="inputMintable" (click)="toggleInputMintable()" id="form-horizontal-checkbox-mintable-20">
              </div>
            </div>
          </div>

          <div *ngIf="selectedTokenType == 'RAI-721'" class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-checkbox-mintable-721">{{ 'Mintable' | translate }}</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <input class="uk-checkbox" type="checkbox" disabled checked="true" id="form-horizontal-checkbox-mintable-721">
              </div>
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-checkbox-burnable">{{ 'Burnable' | translate }} <span uk-icon="icon: info; ratio: 0.8;" uk-tooltip
              title="{{ 'Allow the issuer to burn tokens.' | translate }}"></span></label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <input class="uk-checkbox" type="checkbox" [checked]="inputBurnable" (click)="toggleInputBurnable()" id="form-horizontal-checkbox-burnable">
              </div>
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-checkbox-circulable">{{ 'Circulable' | translate }} <span uk-icon="icon: info; ratio: 0.8;" uk-tooltip
                title="{{ 'If disabled, holders are only allowed to transfer or swap the token with the issuer.' | translate }}"></span></label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <input class="uk-checkbox" type="checkbox" [checked]="inputCirculable" (click)="toggleInputCirculable()" id="form-horizontal-checkbox-mintable-20">
              </div>
            </div>
          </div>

          <div *ngIf="selectedTokenType == 'RAI-721'" class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text-base-uri">{{ 'Base URI' | translate }}</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <input [(ngModel)]="inputBaseUri" class="uk-input" id="form-horizontal-text-base-uri" type="text" placeholder="https://example.com/nft/">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="uk-card-footer uk-text-right">
        <div class="uk-button-group">
          <button class="uk-button uk-button-primary uk-margin-left"
            (click)="create()">{{ 'Create' | translate }}</button>
        </div>

      </div>

    </div>

    <!-- Confirm Creation Panel -->
    <div *ngIf="activePanel === 'confirm_creation'" uk-grid >
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-text-center" >
          <span
            style="display: block; padding: 8px; font-size: 32px">{{ 'Please recheck and confirm' | translate }}</span>
        </div>
        <br />
    
        <div uk-grid>
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ selectedTokenType }}</span>
                    <span class="confirm-subtitle">{{ 'Type' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ inputTokenName }}</span>
                    <span class="confirm-subtitle">{{ 'Name' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ inputTokenSymbol }}</span>
                    <span class="confirm-subtitle">{{ 'Symbol' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div *ngIf="selectedTokenType === 'RAI-20'" class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ getDecimals() }}</span>
                    <span class="confirm-subtitle">{{ 'Decimals' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div *ngIf="selectedTokenType === 'RAI-20'" class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ getInitSupply() }}</span>
                    <span class="confirm-subtitle">{{ 'Initial Supply' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ getCapSupply() }}</span>
                    <span class="confirm-subtitle">{{ 'Cap Supply' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ getMintable() }}</span>
                    <span class="confirm-subtitle">{{ 'Mintable' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ getBurnable() }}</span>
                    <span class="confirm-subtitle">{{ 'Burnable' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ getCirculable() }}</span>
                    <span class="confirm-subtitle">{{ 'Circulable' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div *ngIf="selectedTokenType === 'RAI-721'" class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ inputBaseUri }}</span>
                    <span class="confirm-subtitle">{{ 'Base URI' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
    
        <div uk-grid>
          <div class="uk-width-1-2@s">
            <button (click)="activePanel = 'create'"
              class="uk-button uk-button-danger uk-width-1-1">{{ 'Cancel' | translate }}</button>
          </div>
          <div class="uk-width-1-2@s">
            <button class="uk-button uk-button-primary uk-width-1-1"
              (click)="confirmCreation()">{{ 'Confirm' | translate }}</button>
          </div>
        </div>
    
      </div>
    </div>

    <!-- Token Details Panel-->
    <div *ngIf="issued() && activePanel === ''" class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{ 'Token Details' | translate }}</h3>
      </div>
    
      <div class="uk-card-body uk-padding-remove uk-form-horizontal">
        <div class="uk-padding-small" uk-grid>
          <div class="uk-width-1-1">
            <div uk-grid>

              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Name' | translate }}
                  </div>
                  <div class="uk-width-3-5 uk-text-left uk-text-truncate">
                    {{ name() }}
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Symbol' | translate }}
                  </div>
                  <div class="uk-width-3-5 uk-text-left">
                    {{ symbol() }}
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Address' | translate }}
                  </div>
                  <div class="uk-width-3-5 uk-text-left">
                    <div uk-grid>
                      <div class="uk-width-expand uk-width-auto@m uk-text-truncate uk-padding-remove-right">{{ address() }} </div>
                      <div class="uk-width-auto uk-width-expand@m uk-padding-remove-left"><a ngxClipboard [cbContent]="address()" (cbOnSuccess)="copied()" uk-icon="icon: copy" title="{{ 'Copy Token Address' | translate }}" uk-tooltip></a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Type' | translate }}
                  </div>
                  <div class="uk-width-3-5 uk-text-left">
                    {{ type() }}
                  </div>
                </div>
              </div>

              <div *ngIf="type() === 'RAI-20'" class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Decimals' | translate }}
                  </div>
                  <div class="uk-width-3-5 uk-text-left">
                    {{ showDecimals() }}
                  </div>
                </div>
              </div>

              <div *ngIf="type() === 'RAI-721'" class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Base URI' | translate }}
                  </div>
                  <div class="uk-width-3-5 uk-text-left uk-text-break">
                    {{ baseUri() }}
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Circulating Supply' | translate }}
                  </div>
                  <div class="uk-width-3-5 uk-text-left">
                    {{ totalSupply() }}
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Cap Supply' | translate }}
                  </div>
                  <div class="uk-width-3-5 uk-text-left">
                    <div uk-grid>
                      <div class="uk-width-expand uk-text-truncate ">
                        {{ showCapSupply() }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1" >
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Mintable' | translate }} <span uk-icon="icon: info; ratio: 0.8;" uk-tooltip
                    title="{{ 'Allow the issuer to mint additional tokens after creation.' | translate }}"></span>
                  </div>
                  <div class="uk-width-3-5 uk-text-left">
                    {{ mintableStr() }}
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1" >
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Burnable' | translate }} <span uk-icon="icon: info; ratio: 0.8;" uk-tooltip
                    title="{{ 'Allow the issuer to burn tokens.' | translate }}"></span>
                  </div>
                  <div class="uk-width-3-5 uk-text-left">
                    <div uk-grid>
                      <div class="uk-width-expand">
                        {{ burnableStr() }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1" >
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left uk-text-break">
                    {{ 'Circulable' | translate }} <span uk-icon="icon: info; ratio: 0.8;" uk-tooltip
                    title="{{ 'If disabled, holders are only allowed to transfer or swap the token with the issuer.' | translate }}"></span>
                  </div>
                  <div class="uk-width-3-5 uk-text-left">
                    <div uk-grid>
                      <div class="uk-width-expand uk-text-truncate ">
                        {{ circulableStr() }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Holders' | translate }}
                  </div>
                  <div class="uk-width-3-5 uk-text-left">
                    {{ holders() }}
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Transfers' | translate }}
                  </div>
                  <div class="uk-width-3-5 uk-text-left">
                    {{ transfers() }}
                  </div>
                </div>
              </div>

              <div class="uk-width-1-1">
                <div uk-grid>
                  <div class="uk-width-2-5 uk-text-left">
                    {{ 'Swaps' | translate }}
                  </div>
                  <div class="uk-width-3-5 uk-text-left">
                    {{ swaps() }}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="uk-card-footer uk-text-right">
        <div uk-grid>
          <div class="uk-width-1-2@s">
            <button *ngIf="burnable() && synced()" (click)="activePanel = 'burn'" class="uk-button uk-button-danger uk-width-1-1">{{ 'Burn Token' | translate }}</button>
            <button *ngIf="!burnable() || !synced()" class="uk-button uk-button-disabled uk-width-1-1">{{ 'Burn Token' | translate }}</button>
          </div>
          <div class="uk-width-1-2@s">
            <button *ngIf="mintable() && synced()" class="uk-button uk-button-primary uk-width-1-1" (click)="activePanel = 'mint'">{{ 'Mint Token' | translate }}</button>
            <button *ngIf="!mintable() || !synced()" class="uk-button uk-button-disabled uk-width-1-1" (click)="activePanel = 'mint'">{{ 'Mint Token' | translate }}</button>
          </div>
        </div>
      </div>

    </div>


    <!-- Mint Panel-->
    <div *ngIf="activePanel === 'mint'" class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{ 'Mint Token' | translate }}</h3>
      </div>
    
      <div class="uk-card-body">
        <div class="uk-form-horizontal">
          <div class="uk-margin">
            <label class="uk-form-label" for="form-input-token-address">{{ 'Address' | translate }}</label>
            <div class="uk-form-controls">
              <input [value]="address()" class="uk-input" disabled id="form-input-token-address" type="text">
            </div>
          </div>
          
          <div class="uk-margin">
            <label class="uk-form-label" for="form-input-token-type">{{ 'Type' | translate }}</label>
            <div class="uk-form-controls">
              <input [value]="type()" class="uk-input" disabled id="form-input-token-type" type="text">
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-input-current-supply">{{ 'Current Supply' | translate }}</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <input [value]="totalSupply()" class="uk-input" disabled id="form-input-current-supply" type="text" >
              </div>
            </div>
          </div>

          <div *ngIf="type() == 'RAI-20'" class="uk-margin">
            <label class="uk-form-label" for="form-input-mint-amount">{{ 'Mint Amount' | translate }} *</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <a class="uk-form-icon uk-form-icon-flip" (click)="setMaxMintAmount()" style="padding-right: 7px;" uk-tooltip title="{{ 'Set Maximum Amount' | translate }}">{{ 'Max' | translate }}</a>
                <input [(ngModel)]="inputMintAmount" (change)="syncMintAmount()" (keyup)="syncMintAmount()" class="uk-input" id="form-input-mint-amount" type="text" [placeholder]="mintAmountHint()" [ngClass]="{ 'uk-form-success': mintAmountStatus === 1, 'uk-form-danger': mintAmountStatus === 2 }">
              </div>
            </div>
          </div>

          <div *ngIf="type() == 'RAI-721'" class="uk-margin">
            <label class="uk-form-label" for="form-input-mint-token-id">{{ 'Token ID' | translate }} *</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <a *ngIf="mintTokenIdStatus !== 3" class="uk-form-icon uk-form-icon-flip" (click)="autoSetTokenId()" style="padding-right: 7px;" >{{ 'Auto' | translate }}</a>
                <a *ngIf="mintTokenIdStatus === 3" class="uk-form-icon uk-form-icon-flip" style="padding-right: 7px;" ><span uk-spinner="ratio: 0.6;"></span></a>
                <input [(ngModel)]="inputMintTokenId" (ngModelChange)="mintTokenIdChanged()" (blur)="syncMintTokenId()" class="uk-input" id="form-input-mint-token-id" type="text"  [ngClass]="{ 'uk-form-success': mintTokenIdStatus === 1, 'uk-form-danger': mintTokenIdStatus === 2 }">
              </div>
            </div>
          </div>

          <div *ngIf="type() == 'RAI-721'" class="uk-margin">
            <label class="uk-form-label" for="form-input-token-uri">{{ 'Token URI' | translate }}</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <input [(ngModel)]="inputMintTokenUri" (ngModelChange)="mintTokenUriChanged()" class="uk-input" id="form-input-token-uri" type="text" >
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="uk-card-footer uk-text-right">
        <div uk-grid>
          <div class="uk-width-1-2@s">
            <button (click)="activePanel = ''" class="uk-button uk-button-danger uk-width-1-1">{{ 'Cancel' | translate }}</button>
          </div>
          <div class="uk-width-1-2@s">
            <button class="uk-button uk-button-primary uk-width-1-1" (click)="mint()">{{ 'Mint Token' | translate }}</button>
          </div>
        </div>
      </div>

    </div>


    <!-- Confirm Mint Panel-->
    <div *ngIf="activePanel === 'confirm_mint'" uk-grid >
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-text-center" >
          <span style="display: block; padding-top: 8px;">{{ 'You are about to mint' | translate }}</span>
            <span style="display:block; font-size: 32px;">+{{ showMintAmount() }}</span>
        </div>
        <br />

        <div uk-grid>
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ address() }}</span>
                    <span class="confirm-subtitle">{{ 'Token Address' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title">{{ mintTotalSupply() }}</span>
                    <span class="confirm-subtitle">{{ 'Total Supply' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div *ngIf="type() === 'RAI-721'" class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ inputMintTokenId }}</span>
                    <span class="confirm-subtitle">{{ 'Token ID' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div *ngIf="type() === 'RAI-721'" class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-break">
                  <div>
                    <span class="confirm-title">{{ showMintTokenUri() }}</span>
                    <span class="confirm-subtitle">{{ 'Token URI' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>

        </div>
    
        <div uk-grid>
          <div class="uk-width-1-2@s ">
            <button (click)="activePanel = 'mint'"
              class="uk-button uk-button-danger uk-width-1-1">{{ 'Cancel' | translate }}</button>
          </div>
          <div class="uk-width-1-2@s">
            <button class="uk-button uk-button-primary uk-width-1-1"
              (click)="confirmMint()">{{ 'Confirm' | translate }}</button>
          </div>
        </div>
    
      </div>
    </div>


    <!-- Burn Panel-->
    <div *ngIf="activePanel === 'burn'" class="uk-card uk-card-default uk-margin">
      <div class="uk-card-header">
        <h3 class="uk-card-title">{{ 'Burn Token' | translate }}</h3>
      </div>
    
      <div class="uk-card-body">
        <div class="uk-form-horizontal">
          <div class="uk-margin">
            <label class="uk-form-label" for="form-input-token-address">{{ 'Address' | translate }}</label>
            <div class="uk-form-controls">
              <input [value]="address()" class="uk-input" disabled id="form-input-token-address" type="text">
            </div>
          </div>
          
          <div class="uk-margin">
            <label class="uk-form-label" for="form-input-token-type">{{ 'Type' | translate }}</label>
            <div class="uk-form-controls">
              <input [value]="type()" class="uk-input" disabled id="form-input-token-type" type="text">
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-input-current-supply">{{ 'Current Supply' | translate }}</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <input [value]="totalSupply()" class="uk-input" disabled id="form-input-current-supply" type="text" >
              </div>
            </div>
          </div>

          <div *ngIf="type() === 'RAI-20'" class="uk-margin">
            <label class="uk-form-label" for="form-input-burn-amount">{{ 'Burn Amount' | translate }} *</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <a class="uk-form-icon uk-form-icon-flip" (click)="setMaxBurnAmount()" style="padding-right: 7px;" uk-tooltip title="{{ 'Set Maximum Amount' | translate }}">{{ 'Max' | translate }}</a>
                <input [(ngModel)]="inputBurnAmount" (change)="syncBurnAmount()" (keyup)="syncBurnAmount()" class="uk-input" id="form-input-burn-amount" type="text" [placeholder]="burnAmountHint()" [ngClass]="{ 'uk-form-success': burnAmountStatus === 1, 'uk-form-danger': burnAmountStatus === 2 }">
              </div>
            </div>
          </div>

          <div *ngIf="type() === 'RAI-721'" class="uk-margin">
            <label class="uk-form-label" for="form-select-burn-token-id">{{ 'Token ID' | translate }} *</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <a *ngIf="hasMoreTokenIds()" class="uk-form-icon uk-form-icon-flip" (click)="loadMoreBurnTokenIds()" style="padding-right: 20px;" uk-tooltip title="{{ 'Load more IDs' | translate }}">{{ 'More' | translate }}</a>
                <select class="uk-select" [(ngModel)]="selectedBurnTokenId" (ngModelChange)="burnTokenIdChanged($event)"
                id="form-select-burn-token-id">
                  <option *ngFor="let option of burnableTokenIds()" [value]="option.id.toDec()">{{ option.id.toDec() }}</option>
                </select>
              </div>
            </div>
          </div>

          <div *ngIf="type() === 'RAI-721'" class="uk-margin">
            <label class="uk-form-label" for="form-input-burn-token-uri">{{ 'Token URI' | translate }}</label>
            <div class="uk-form-controls">
              <div class="uk-inline uk-width-1-1">
                <input [value]="inputBurnTokenUri" disabled class="uk-input" id="form-input-burn-token-uri" type="text">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="uk-card-footer uk-text-right">
        <div uk-grid>
          <div class="uk-width-1-2@s">
            <button (click)="activePanel = ''" class="uk-button uk-button-danger uk-width-1-1">{{ 'Cancel' | translate }}</button>
          </div>
          <div class="uk-width-1-2@s">
            <button class="uk-button uk-button-primary uk-width-1-1" (click)="burn()">{{ 'Burn Token' | translate }}</button>
          </div>
        </div>
      </div>

    </div>


    <!-- Confirm Burn Panel-->
    <div *ngIf="activePanel === 'confirm_burn'" uk-grid >
      <div class="uk-width-1-1">
        <div class="uk-card uk-card-default uk-text-center" >
          <span style="display: block; padding-top: 8px;">{{ 'You are about to burn' | translate }}</span>
            <span style="display:block; font-size: 32px;">-{{ showBurnAmount() }}</span>
        </div>
        <br />

        <div uk-grid>
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ address() }}</span>
                    <span class="confirm-subtitle">{{ 'Token Address' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title">{{ burnTotalSupply() }}</span>
                    <span class="confirm-subtitle">{{ 'Total Supply' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>

          <div *ngIf="type() === 'RAI-721'" class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-truncate">
                  <div>
                    <span class="confirm-title uk-text-truncate">{{ selectedBurnTokenId }}</span>
                    <span class="confirm-subtitle">{{ 'Token ID' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>
    
          <div *ngIf="type() === 'RAI-721'" class="uk-width-1-2@m">
            <div class="uk-card uk-card-default">
              <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
                <span class="confirm-title uk-text-break">
                  <div>
                    <span class="confirm-title">{{ showBurnTokenUri() }}</span>
                    <span class="confirm-subtitle">{{ 'Token URI' | translate }}</span>
                    <br class="br-spacer" />
                  </div>
                </span>
              </div>
            </div>
          </div>

        </div>
    
        <div uk-grid>
          <div class="uk-width-1-2@s ">
            <button (click)="activePanel = 'burn'"
              class="uk-button uk-button-danger uk-width-1-1">{{ 'Cancel' | translate }}</button>
          </div>
          <div class="uk-width-1-2@s">
            <button class="uk-button uk-button-primary uk-width-1-1"
              (click)="confirmBurn()">{{ 'Confirm' | translate }}</button>
          </div>
        </div>
    
      </div>
    </div>

    <!-- Panel End -->
  </div>
</div>