<h2>{{ 'Cross Chain' | translate }} Map</h2>

<app-account-widget raiTitle="{{ 'Your account' | translate }}"></app-account-widget>

<p><b>MAP = </b> {{ 'transfer token from it\'s original chain to Raicoin chain.' | translate }} <br />
  <b>UNMAP = </b> {{ 'transfer token from Raicoin chain back to it\'s original chain.' | translate }}
</p>
<div uk-grid *ngIf="activePanel == 'map' || activePanel == 'unmap'">
  <div class="uk-width-1-1">
    <div class="uk-button-group uk-width-1-1">
      <button (click)="setPanel('map')" class="uk-button uk-width-1-2"
        [ngClass]="{ 'uk-button-primary': activePanel == 'map', 'uk-button-secondary': activePanel != 'map' }">Map</button>
      <button (click)="setPanel('unmap')" class="uk-button uk-width-1-2"
        [ngClass]="{ 'uk-button-primary': activePanel == 'unmap', 'uk-button-secondary': activePanel != 'unmap' }">Unmap</button>
    </div>
  </div>
</div>

<!-- Map Panel -->
<div class="uk-card uk-card-default" [hidden]="activePanel != 'map'">
  <div class="uk-card-body">
    <div class="uk-form-horizontal">

      <div class="uk-margin">
        <label class="uk-form-label" for="form-select-map-original-chain">{{ 'Original Chain' | translate }} *</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <select class="uk-select" [(ngModel)]="selectedMapOriginalChain" (ngModelChange)="mapOriginalChainChanged($event)" id="form-select-map-original-chain">
              <option *ngFor="let option of mapOriginalChains()" [value]="option" >{{ showChain(option) }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <app-token-widget raiLabel="{{ 'Select Token' | translate }}" #mapTokenWidget (raiChange)="onMapTokenChange()" [raiTokenFilter]="filterMapToken">
        </app-token-widget>
      </div>

      <div *ngIf="mapTokenType() === '20'" class="uk-margin">
        <label class="uk-form-label" for="form-input-map-amount">
          {{ 'Amount' | translate }} *
        </label>
        <div class="uk-form-controls">
          <div uk-grid>
            <div class="uk-width-1-1">
              <div class="uk-inline uk-width-1-1">
                <a class="uk-form-icon uk-form-icon-flip" style="padding-right: 7px; width: auto;">{{ mapTokenFormat()
                  }}</a>
                <input (change)="syncMapAmount()" (keyup)="syncMapAmount()" [(ngModel)]="inputMapAmount"
                  class="uk-input" id="form-input-map-amount" type="text"
                  placeholder="{{ 'Amount to transfer' | translate }}"
                  [ngClass]="{ 'uk-form-success': mapAmountStatus === 1, 'uk-form-danger': mapAmountStatus === 2 }">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="mapTokenType() === '721'" class="uk-margin">
        <label class="uk-form-label" for="form-input-map-token-id">
          {{ 'Token ID' | translate }} *
        </label>
        <div class="uk-form-controls">
          <div uk-grid>
            <div class="uk-width-1-1">
              <div class="uk-inline uk-width-1-1">
                <a class="uk-form-icon uk-form-icon-flip" style="padding-right: 7px; width: auto;">{{ mapTokenFormat()
                  }}</a>
                <input (change)="syncMapTokenId()" (keyup)="syncMapTokenId()" [(ngModel)]="inputMapTokenId"
                  class="uk-input" id="form-input-map-token-id" type="text"
                  placeholder="{{ 'Token ID to transfer' | translate }}"
                  [ngClass]="{ 'uk-form-success': mapTokenIdStatus === 1, 'uk-form-danger': mapTokenIdStatus === 2 }">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-map-sender">{{ 'Sender' | translate }}</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <input [ngModel]="shortMapSender()" class="uk-input" id="form-map-sender" type="text" disabled autocomplete="off" placeholder="{{ 'Connect wallet to show' | translate }}">
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-map-recipient">{{ 'Recipient' | translate }}</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <input [ngModel]="raiShortAccount()" class="uk-input" id="form-map-recipient" type="text" disabled
              autocomplete="off">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="uk-card-footer uk-text-right uk-hidden@m">
    <div uk-grid>
      <div *ngIf="mapApprovable()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="mapApprove()">
          {{ 'Enable' | translate }}</button>
      </div>
      <div *ngIf="!mapApprovable() && !mapable()" class="uk-width-1-2@m">
        <button *ngIf="mapApproveStatus != 'checking' && mapApproveStatus != 'waiting'" class="uk-button uk-button-disabled uk-width-1-1">{{ 'Enable' | translate }}</button>
        <button *ngIf="mapApproveStatus == 'checking'" class="uk-button uk-button-disabled uk-width-1-1">{{ 'Checking' | translate }}...</button>
        <button *ngIf="mapApproveStatus == 'waiting'" class="uk-button uk-button-disabled uk-width-1-1">{{ 'Waiting' | translate }}...</button>
      </div>
      <div *ngIf="mapable()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="map()">
          Map</button>
      </div>
      <div *ngIf="mapShowConnectWallet()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="mapConnectWallet()">
          {{ 'Connect Wallet' | translate }}</button>
      </div>
      <div *ngIf="mapShowDisconnectWallet()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-danger uk-width-1-1" (click)="mapDisconnectWallet()">
          {{ 'Disconnect Wallet' | translate }}</button>
      </div>
      <div class="uk-width-1-2@m">
        <button routerLink="/assets" [queryParams]="{ add: 1}" class="uk-button uk-button-secondary uk-width-1-1">+ {{
          'Custom Token' |
          translate }}</button>
      </div>
    </div>
  </div>

  <div class="uk-card-footer uk-text-right uk-visible@m">
    <div class="uk-button-group">
      <button *ngIf="mapApprovable()"
        class="uk-button uk-button-primary uk-margin-right" (click)="mapApprove()">{{ 'Enable' | translate }}</button>
      <button *ngIf="!mapApprovable() && !mapable() && mapApproveStatus != 'checking' && mapApproveStatus != 'waiting'"
        class="uk-button uk-button-disabled uk-margin-right">{{ 'Enable' | translate }}</button>
      <button *ngIf="!mapApprovable() && !mapable() && mapApproveStatus == 'checking'"
        class="uk-button uk-button-disabled uk-margin-right">{{ 'Checking' | translate }}...</button>
      <button *ngIf="!mapApprovable() && !mapable() && mapApproveStatus == 'waiting'"
        class="uk-button uk-button-disabled uk-margin-right">{{ 'Waiting' | translate }}...</button>
      <button *ngIf="mapable()" class="uk-button uk-button-primary uk-margin-right"
        (click)="map()">Map</button>
      <button *ngIf="mapShowConnectWallet()" class="uk-button uk-button-primary uk-margin-right"
        (click)="mapConnectWallet()">{{ 'Connect Wallet' | translate }}</button>
      <button *ngIf="mapShowDisconnectWallet()" class="uk-button uk-button-danger uk-margin-right"
        (click)="mapDisconnectWallet()">{{ 'Disconnect Wallet' | translate }}</button>
      <button routerLink="/assets" [queryParams]="{ add: 1}" class="uk-button uk-button-secondary uk-margin-right">+ {{
        'Custom Token' | translate }}</button>
    </div>
  </div>

</div>

<div [hidden]="activePanel !== 'map' || selectedMapOriginalChain === ''" uk-grid style="margin-top: 25px;">
  <div class="uk-width-1-1">
    <h3 class="uk-heading-divider uk-text-center" style="margin-bottom: 0;">{{ 'Your MAP history' | translate }}
    </h3>
    <div class="uk-width-1-1 uk-text-center">
      {{ 'From ' | translate }} {{ showMapSelectedChain() }}
    </div>
    <table class="uk-table uk-table-striped uk-table-small" style="margin-top: 0;">
      <thead>
        <tr>
          <th class="uk-width-1-3@m uk-width-1-3 uk-text-left">{{ 'Sender' | translate }}</th>
          <th class="uk-width-1-3@m uk-width-1-3 uk-text-right">{{ 'Amount' | translate }}</th>
          <th class="uk-width-1-3@m uk-width-1-3 uk-text-center">{{ 'Status' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let map of maps()">
          <td class="uk-text-left uk-text-truncate">{{ map.from }}</td>
          <td class="uk-text-right">{{ mapItemAmount(map) }}</td>
          <td class="uk-text-center">
            <span *ngIf="mapItemSuccess(map)" uk-icon="icon: check;" class="uk-text-success"></span>
            <span *ngIf="!mapItemSuccess(map)" class="uk-text-warning">{{ mapItemConfirms(map) }}</span>
          </td>
        </tr>
        <tr *ngIf="noMaps()">
          <td colspan="3" style="text-align: center;">{{ 'No MAP history' | translate }}</td>
        </tr>
        <tr *ngIf="moreMaps()">
          <td colspan="3" style="text-align: center;">
            <a (click)="loadMoreMaps()" class="uk-link-text">{{ 'Load More Results' | translate }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Map Confirmation Panel -->
<div uk-grid *ngIf="activePanel === 'map_confirm'" class="uk-animation-slide-left">
  <div class="uk-width-1-1">
    <div class="uk-card uk-card-default uk-width-1-1 uk-text-center">
      <span style="display: block; padding-top: 8px;">{{ 'You are about to' | translate }} MAP</span>
      <span style="display:block; font-size: 32px;">{{ mapShowAmount() }}</span>
    </div>

    <br />

    <div uk-grid>
      <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-default">
          <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
            <span class="confirm-title uk-text-truncate">
              <div>
                <span class="confirm-title uk-text-truncate">{{ mapSender() | shortAccount:7 }}</span>
                <span class="confirm-subtitle">{{ 'Sender' | translate }}</span>
                <br class="br-spacer" />
              </div>
            </span>
          </div>
          <div class="uk-card-body" style="padding: 20px 20px;">
            <div uk-grid>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ mapFromChain() }}</span>
                <span class="confirm-subtitle">{{ 'From Chain' | translate }}</span>
              </div>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ mapFeeAndGas() }}</span>
                <span class="confirm-subtitle">{{ 'Fee & Gas (estimated)' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-default">
          <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
            <span class="confirm-title uk-text-truncate">
              <div>
                <span class="confirm-title uk-text-truncate">{{ raiAccount() | shortAccount:7 }}</span>
                <span class="confirm-subtitle">{{ 'Recipient' | translate }}</span>
                <br class="br-spacer" />
              </div>
            </span>
          </div>
          <div class="uk-card-body" style="padding: 20px 20px;">
            <div uk-grid>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ currentChain() }}</span>
                <span class="confirm-subtitle">{{ 'To Chain' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div uk-grid>
      <div class="uk-width-1-2@s">
        <button (click)="mapCancel()" class="uk-button uk-button-danger uk-width-1-1">{{ 'Cancel' | translate
          }}</button>
      </div>
      <div class="uk-width-1-2@s">
        <button *ngIf="mapFeeAndGas() !== ''" class="uk-button uk-button-primary uk-width-1-1" (click)="mapConfirm()">{{ 'Confirm' | translate }}</button>
        <button *ngIf="mapFeeAndGas() === '' && !mapInsufficientFunds" class="uk-button uk-button-disabled uk-width-1-1" >{{ 'Confirm' | translate }}</button>
        <button *ngIf="mapFeeAndGas() === '' && mapInsufficientFunds" class="uk-button uk-button-disabled uk-width-1-1" >{{ 'Insufficient Funds' | translate }}</button>
      </div>
    </div>

  </div>
</div>


<!-- Unmap Panel -->
<div class="uk-card uk-card-default" [hidden]="activePanel != 'unmap'">
  <div class="uk-card-body">
    <div class="uk-form-horizontal">
      <app-asset-widget #unmapAssetWidget (raiChange)="onUnmapAssetChanged()" raiAmountHint="The amount to unmap" [raiShowRaicoin]="false" [raiAssetFilter]="filterUnmapAsset"></app-asset-widget>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-input-unmap-original-chain">{{ 'Original Chain'  | translate }}</label>
        <div class="uk-form-controls">
          <input [value]="unmapOriginalChain()" class="uk-input" disabled id="form-input-unmap-original-chain" type="text">
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-unmap-sender">{{ 'Sender' | translate }}</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <input [ngModel]="raiShortAccount()" class="uk-input" id="form-unmap-sender" type="text" disabled autocomplete="off">
          </div>
        </div>
      </div>

      <div class="uk-margin">
        <label class="uk-form-label" for="form-unmap-recipient">{{ 'Recipient' | translate }}</label>
        <div class="uk-form-controls">
          <div class="uk-inline uk-width-1-1">
            <input [ngModel]="shortUnmapRecipient()" class="uk-input" id="form-unmap-recipient" type="text" disabled autocomplete="off" placeholder="{{ 'Connect wallet to show' | translate }}">
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="uk-card-footer uk-text-right uk-hidden@m">
    <div uk-grid>
      <div *ngIf="unmapable()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="unmap()">
          Unmap</button>
      </div>
      <div *ngIf="unmapShowConnectWallet()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-primary uk-width-1-1" (click)="unmapConnectWallet()">
          {{ 'Connect Wallet' | translate }}</button>
      </div>
      <div *ngIf="unmapShowDisconnectWallet()" class="uk-width-1-2@m">
        <button class="uk-button uk-button-danger uk-width-1-1" (click)="unmapDisconnectWallet()">
          {{ 'Disconnect Wallet' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="uk-card-footer uk-text-right uk-visible@m">
    <div class="uk-button-group">
      <button *ngIf="unmapable()" class="uk-button uk-button-primary uk-margin-right"
        (click)="unmap()">Unmap</button>
      <button *ngIf="unmapShowConnectWallet()" class="uk-button uk-button-primary uk-margin-right"
        (click)="unmapConnectWallet()">{{ 'Connect Wallet' | translate }}</button>
      <button *ngIf="unmapShowDisconnectWallet()" class="uk-button uk-button-danger uk-margin-right"
        (click)="unmapDisconnectWallet()">{{ 'Disconnect Wallet' | translate }}</button>
    </div>
  </div>

</div>


<!-- Unmap Confirmation Panel -->
<div uk-grid *ngIf="activePanel === 'unmap_confirm'" class="uk-animation-slide-left">
  <div class="uk-width-1-1">
    <div class="uk-card uk-card-default uk-width-1-1 uk-text-center">
      <span style="display: block; padding-top: 8px;">{{ 'You are about to' | translate }} UNMAP</span>
      <span style="display:block; font-size: 32px;">{{ unmapShowAmount() }}</span>
    </div>

    <br />

    <div uk-grid>
      <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-default">
          <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
            <span class="confirm-title uk-text-truncate">
              <div>
                <span class="confirm-title uk-text-truncate">{{ raiAccount() | shortAccount:7 }}</span>
                <span class="confirm-subtitle">{{ 'Sender' | translate }}</span>
                <br class="br-spacer" />
              </div>
            </span>
          </div>
          <div class="uk-card-body" style="padding: 20px 20px;">
            <div uk-grid>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ currentChain() }}</span>
                <span class="confirm-subtitle">{{ 'From Chain' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-default">
          <div class="uk-card-header uk-text-left" style="padding: 20px 20px;">
            <span class="confirm-title uk-text-truncate">
              <div>
                <span class="confirm-title uk-text-truncate">{{ unmapRecipient() | shortAccount:7 }}</span>
                <span class="confirm-subtitle">{{ 'Recipient' | translate }}</span>
                <br class="br-spacer" />
              </div>
            </span>
          </div>
          <div class="uk-card-body" style="padding: 20px 20px;">
            <div uk-grid>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ unmapToChain() }}</span>
                <span class="confirm-subtitle">{{ 'To Chain' | translate }}</span>
              </div>
              <div class="uk-width-1-1 uk-text-muted">
                <span class="confirm-currency">{{ unmapFeeAndGas() }}</span>
                <span class="confirm-subtitle">{{ 'Fee & Gas (estimated)' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div uk-grid>
      <div class="uk-width-1-2@s">
        <button (click)="unmapCancel()" class="uk-button uk-button-danger uk-width-1-1">{{ 'Cancel' | translate
          }}</button>
      </div>
      <div class="uk-width-1-2@s">
        <button *ngIf="unmapFeeAndGas() !== '' && !unmapInsufficientFunds" class="uk-button uk-button-primary uk-width-1-1" (click)="unmapConfirm()">{{ 'Confirm' | translate }}</button>
        <button *ngIf="unmapFeeAndGas() === ''" class="uk-button uk-button-disabled uk-width-1-1" >{{ 'Confirm' | translate }}</button>
        <button *ngIf="unmapFeeAndGas() !== '' && unmapInsufficientFunds" class="uk-button uk-button-disabled uk-width-1-1" >{{ 'Insufficient Fee & Gas' | translate }}</button>
      </div>
    </div>

  </div>
</div>


<m-web3-modal title="Please choose a web3 protocol" description="" descriptionGray="" dismissText="Cancel">
</m-web3-modal>